#define REDPIN 5   
#define GREENPIN 6
#define BLUEPIN 3
#define SOUNDPIN 7

class Color 
{
    byte redVal;
    byte greenVal;
    byte blueVal;
    
//constructor
public:
Color(byte red, byte green, byte blue)
{
  redVal = red;
  greenVal = green;
  blueVal = blue;
}

//getters
byte getRed(){
  return redVal;
}
byte getGreen(){
  return greenVal;
}
byte getBlue(){
  return blueVal;
}

//methods to manipulate base colors
Color satChange(){
  long changeVal = random(0,101);
  byte red = redVal;
  byte green = greenVal;
  byte blue = greenVal;
  if(red == 255) red -= changeVal;
  if(green == 255) green -=changeVal;
  if(blue == 255) blue -= changeVal;
  if(red == 0) red += changeVal;
  if(green == 0) green += changeVal;
  if(blue == 0) blue += changeVal;
  Color newColor = new Color(red,green,blue);
  return newColor;
}

Color lightChange(){
    long changeVal = random(0-101);
    byte red = redVal;
    byte green = greenVal;
    byte blue = blueVal;
    if(red == 255) red -= changeVal;
    if(green == 255) green -= changeVal;
    if(blue == 255) blue -= changeVal;
    if(red == 0) red += changeVal;
    if(green == 0) green += changeVal;
    if(blue == 0) blue += changeVal;
    long sign = random(0,2);
    if(red == 128){
        if(sign) red -= changeVal;
        else red += changeVal;
    }
    if(green == 128){
        if(sign) green -= changeVal;
        else green += changeVal;
    }
    if(blue == 128){
        if(sign) blue -= changeVal;
        else blue += changeVal;
    }
    
}

};






void setup()
{
  pinMode(SOUNDPIN, INPUT); //SIG of the Parallax Sound Impact Sensor connected to Digital Pin 7 
  pinMode(REDPIN, OUTPUT);
  pinMode(GREENPIN, OUTPUT);
  pinMode(BLUEPIN, OUTPUT);
  
  //13 Primary Hues
  Color red = new Color(255,0,0);
  Color orange = new Color(255,128,0);
  Color yellow = new Color(255,255,0);
  Color lightGreen = new Color(128,255,0);
  Color green = new Color(0,255,0);
  Color blueGreen = new Color(0,255,128);
  Color cyan = new Color(0,255,255);
  Color lightBlue = new Color(0,128,255);
  Color blue = new Color(0,0,255);
  Color purple = new Color(128,0,255);
  Color pink = new Color(255,0,255);
  Color maroon = new Color(255,0,128);
  Color white = new Color(255,255,255);
  
  Color[] rainbow = {red,orange,yellow,lightGreen,green,blueGreen,cyan,lightBlue,blue,purple,pink,maroon,white};
  
  long startIndex = random(0,13);
  analogWrite(REDPIN, rainbow[startIndex].getRed());
  analogWrite(GREENPIN, rainbow[startIndex].getGreen());
  analogWrite(BLUEPIN, rainbow[startIndex].getBlue());
  
}

void loop()
{
  boolean sound = digitalRead(SOUNDPIN);
  if (sound == 1) {
    analogWrite(BLUEPIN, blueNow);
    analogWrite(REDPIN, redNow);
    analogWrite(GREENPIN, greenNow);
    
   //change color
   
    analogWrite(BLUEPIN, blueNow);
    analogWrite(REDPIN, redNow);
    analogWrite(GREENPIN, greenNow);
    delay(1); //wait one millisecond before continuing 
    }
  }
  
  else{ //if no sound is found turn off 
    digitalWrite(REDPIN,0);
    digitalWrite(GREENPIN,0);
    digitalWrite(BLUEPIN,0);
  }
}
